<?xml version="1.0" encoding="ISO-8859-1"?>

<configuration>

  <!-- Set of interfaces to use for collection. -->
  <interfaces>

    <!-- filter element is optional.  Can be used to make sure you don't
         sniff the outbound streams. -->
    <interface name="eth0" filter="not port 10001 and not port 10002"/>

    <interface name="eth1"/>

  </interfaces>

  <!-- Statically targeted addresses. -->
  <targets>
    <target address="192.168.1.1" liid="123456"/>
    <target address="192.168.1.2" liid="123981"/>
    <target address="10.1.1.1" liid="9123780"/>
    <target address="10.1.1.0" liid="591875"/>
    <target address="10.1.1.2" liid="492895"/>
    <target address="10.1.1.3" liid="591875"/>
    <target address="10.1.1.4" liid="591875"/>
    <target address="10.1.1.5" liid="591875"/>
    <target address="10.1.1.6" liid="591875"/>
    <target address="10.1.1.7" liid="591875"/>
    <target address="10.1.1.8" liid="591875"/>
    <target address="10.1.1.9" liid="591875"/>
    <target address="10.1.1.10" liid="591875"/>
    <target address="::4:5:6" liid="983898"/>
  </targets>

  <!-- Endpoints for delivery of collected packets. -->
  <endpoints>

    <!-- Send collected packets to monitor1:10001 in NHIS 1.1 stream. -->
    <endpoint hostname="monitor1" port="10001" type="nhis1.1"/>

    <!-- Send collected packets to monitor2:10002 in ETSI LI stream. -->
    <endpoint hostname="monitor2" port="10002" type="etsi"/>

  </endpoints>

  <!-- Set of parameters, primarily used to configure the metadata in
       ETSI LI metadata. -->
  <parameters>

    <!-- Value used for deliveryCountryCode and authorizationCountryCode
         in LI PS PDU. Should be 2-character string. -->
    <parameter key="country" value="DE"/>

    <!-- Value used for operatorIdentifier in LI PS PDU. A string up to 16
         characters. -->
    <parameter key="operator" value="Cyber"/>

    <!-- Value used for networkElementIdentifier in LI PS PDU. String up
         to 16 characters in length. -->
    <parameter key="network_element" value="10.8.2.4"/>

    <!-- Value used for interceptionPointID in LI PS PDU. String up
         to 8 characters in length. -->
    <parameter key="interception_point" value="abcd1234"/>

    <!-- Username values used in IPIRI connection.  Key form is
         "username." plus the LIID -->
    <parameter key="username.123456" value="user01@example.org"/>
    <parameter key="username.123981" value="user02@example.org"/>
    <parameter key="username.981235" value="user03@example.org"/>

    <!-- Parameters in this form are used select the LIID which is used
         when packets are collected on Snort alerts.  Basically, this maps
	 the Snort signature ID to a LIID. -->
    <parameter key="snort.1.liid" value="SNORT1"/>
    <parameter key="snort.2.liid" value="SNORT2"/>

   </parameters>

   <!-- Optional element.  Listens for Snort alerts, and dynamically targets
        addresses for 60 seconds. -->
   <!--
   <snort_alert socket="/var/log/snort/snort_alert" duration="60"/>
   -->

</configuration>

