Source: cyberprobe
Maintainer: Cyber MacGeddon <cybermaggedon@gmail.com>
Section: uknown
Priority: optional
Standards-Version: 3.9.2
Depends: liblua5.2-0, python2.7, python-gobject-2, 
  mime-support, python-minimal, libexpat1,
  mawk, libpcap0.8, python2.7-minimal,
  libc6, lua5.2, python-support, libreadline6, cpio
Homepage: http://cyberprobe.sourceforge.net/

Package: cyberprobe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Cyberprobe project is a distrbuted architecture for real-time
  monitoring of networks against attack.  The software consists of two
  components:
  - a probe, which collects data packets and forwards it over a network in
    standard streaming protocols.
  - a monitor, which receives the streamed packets, decodes the protocols,
    and interprets the information.
  These components can be used together or separately.  For a simple
  configuration, they can be run on the same host, for more complex
  environments, a number of probes can feed a single monitor.
  Please see documentation in /usr/share/doc/cyberprobe.
